:root {
  font-family: "Red Hat Text", sans-serif;
  background-color: hsl(235, 16%, 14%);
  overflow: hidden;
}

body {
  position: relative;
}

header {
  position: absolute;
  top: 0;
}

.stars {
  width: 100vw;
}

.hills {
  width: 100vw;
}

.main-components {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 20px;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 100px;
}
