:root {
  font-family: "Red Hat Text", sans-serif;
  background-color: hsl(235, 16%, 14%);
  overflow: hidden;
  font-size: 14px;
}

body::before {
  content: "";
  background: url("./assets/bg-stars.svg");
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}

main {
  flex-direction: column;
  text-align: center;
}

header {
  margin-top: 105px;
  font-size: 11px;
  color: #fff;
  letter-spacing: 8px;
  z-index: 10;
}

.stars {
  width: 100vw;
}

.main-components {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 185px 185px 185px 185px;
  margin-top: 90px;
}

.cards p {
  font-size: 15px;
  margin-top: 22px;
  margin-left: -16px;
  color: hsl(237, 18%, 59%);
  letter-spacing: 5px;
}

.card {
  position: relative;
  overflow: hidden;
  width: 155px;
  height: 145px;
  background-color: hsl(236, 21%, 26%);
  box-shadow: hsl(234, 17%, 12%) 0px 10px 0px 0px;
  border-radius: 10px;
}

.card h1 {
  font-size: 80px;
  color: hsl(345, 95%, 68%);
}

.circle {
  width: 12px;
  height: 12px;
  background-color: hsl(234, 17%, 12%);
  border-radius: 20px;
}

.c1 {
  top: 66px;
  left: -6px;
}

.c2 {
  top: 66px;
  right: -6px;
}

/* FOOTER */

footer {
  bottom: 60px;
  z-index: 10;
}

.links {
  margin: 15px;
}

svg {
  padding: 2px;
  transform: scale(1);
  cursor: pointer;
  z-index: 10;
}

svg:hover path {
  fill: hsl(345, 95%, 68%);
}

.hills {
  position: absolute;
  width: 100vw;
  bottom: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.position-absolute {
  position: absolute;
}

@media only screen and (max-width: 375px) {
  main {
    margin-top: 65px;
  }

  .hills {
    width: 220vw;
    height: 25vh;
    right: -10px;
  }

  .title {
    font-size: 18px;
  }
  header {
    margin-top: 70px;
  }

  .main-components {
    grid-template-columns: 85px 85px 85px 85px;
    margin-top: 40px;
    margin-left: 20px;
  }

  .card {
    width: 70px;
    height: 65px;
    font-size: 18px;
    box-shadow: hsl(234, 17%, 12%) 0px 5px 0px 0px;
    border-radius: 5px;
  }

  .card h1 {
    font-size: 35px;
  }

  .cards p {
    font-size: 8px;
    letter-spacing: 2px;
    margin-top: 10px;
  }

  .circle {
    top: 30px;
    width: 8px;
    height: 8px;
  }

  .c1 {
    left: -5px;
  }

  .c2 {
    right: -5px;
  }

  svg {
    padding: 2px;
    transform: scale(1);
  }
  footer {
    bottom: 35px;
  }
}
